apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: github-tests-go-gamwdpxz
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/github-tests-go-gamwdpxz:77359d77a75b10e7c13c0074c920fc0cc5c5e798@sha256:518c494868f64b1fc91324491eacad8b8ae3fc2e86eed0e6823a27cf7abfe1c5
        name: container-image  
